node_modules/
dist/
.DS_Store

# Working files in project root (not part of the website)
*.psd
*.png
*.jpg
*.jpeg
*.svg
BRIEF.md
ENTA*
HEADSHOT*
IMG_*
Portrait*
image-from-rawpixel*
ear*
nose*
neck*
throat*
